# data
data/

# Scala build files
**/project/project
**/src/main/scala/project/
**/src/main/scala/target/
**/build.properties
**/target


# IDE
.vscode/
.metals/
**/metals.sbt
**/.DS_Store
**/.bloop
.bsp
**/*.swp
